/*body{
    background-color: black;
}*/
.captain_america{
    width: 21rem;
    height: 25rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}


.pixel{
    width: 1rem;
    height: 1rem;
    box-shadow: 
    /*1st row*/
    0rem 0rem 0 -0.05rem #fff,
    1rem 0rem 0 -0.05rem #fff,
    2rem 0rem 0 -0.05rem #fff,
    3rem 0rem 0 -0.05rem #fff,
    4rem 0rem 0 -0.05rem #fff,
    5rem 0rem 0 -0.05rem #fff,
    6rem 0rem 0 -0.05rem #fff,
    7rem 0rem 0 -0.05rem #fff,
    8rem 0rem 0 -0.05rem #fff,
    9rem 0rem 0 -0.05rem #222,
    10rem 0rem 0 -0.05rem #222,
    11rem 0rem 0 -0.05rem #222,
    12rem 0rem 0 -0.05rem #222,
    13rem 0rem 0 -0.05rem #222,
    14rem 0rem 0 -0.05rem #fff,
    15rem 0rem 0 -0.05rem #fff,
    16rem 0rem 0 -0.05rem #fff,
    17rem 0rem 0 -0.05rem #fff,
    18rem 0rem 0 -0.05rem #fff,
    19rem 0rem 0 -0.05rem #fff,
    20rem 0rem 0 -0.05rem #fff,
    

    /*2nd row*/
    0rem 1rem 0 -0.05rem #fff,
    1rem 1rem 0 -0.05rem #fff,
    2rem 1rem 0 -0.05rem #fff,
    3rem 1rem 0 -0.05rem #fff,
    4rem 1rem 0 -0.05rem #fff,
    5rem 1rem 0 -0.05rem #fff,
    6rem 1rem 0 -0.05rem #fff,
    7rem 1rem 0 -0.05rem #222,
    8rem 1rem 0 -0.05rem #222,
    9rem 1rem 0 -0.05rem #5096FF,
    10rem 1rem 0 -0.05rem #5096FF,
    11rem 1rem 0 -0.05rem #5096FF,
    12rem 1rem 0 -0.05rem #5096FF,
    13rem 1rem 0 -0.05rem #5096FF,
    14rem 1rem 0 -0.05rem #222,
    15rem 1rem 0 -0.05rem #222,
    16rem 1rem 0 -0.05rem #fff,
    17rem 1rem 0 -0.05rem #fff,
    18rem 1rem 0 -0.05rem #fff,
    19rem 1rem 0 -0.05rem #fff,
    20rem 1rem 0 -0.05rem #fff,


    /*3rd row*/
    0rem 2rem 0 -0.05rem #fff,
    1rem 2rem 0 -0.05rem #fff,
    2rem 2rem 0 -0.05rem #fff,
    3rem 2rem 0 -0.05rem #fff,
    4rem 2rem 0 -0.05rem #fff,
    5rem 2rem 0 -0.05rem #fff,
    6rem 2rem 0 -0.05rem #222,
    7rem 2rem 0 -0.05rem #5096FF,
    8rem 2rem 0 -0.05rem #5096FF,
    9rem 2rem 0 -0.05rem #5096FF,
    10rem 2rem 0 -0.05rem #5096FF,
    11rem 2rem 0 -0.05rem #5096FF,
    12rem 2rem 0 -0.05rem #5096FF,
    13rem 2rem 0 -0.05rem #5096FF,
    14rem 2rem 0 -0.05rem #5096FF,
    15rem 2rem 0 -0.05rem #5096FF,
    16rem 2rem 0 -0.05rem #222,
    17rem 2rem 0 -0.05rem #fff,
    18rem 2rem 0 -0.05rem #fff,
    19rem 2rem 0 -0.05rem #fff,
    20rem 2rem 0 -0.05rem #fff,

    /*4th row*/
    0rem 3rem 0 -0.05rem #fff,
    1rem 3rem 0 -0.05rem #fff,
    2rem 3rem 0 -0.05rem #222,
    3rem 3rem 0 -0.05rem #222,
    4rem 3rem 0 -0.05rem #fff,
    5rem 3rem 0 -0.05rem #222,
    6rem 3rem 0 -0.05rem #5096FF,
    7rem 3rem 0 -0.05rem #5096FF,
    8rem 3rem 0 -0.05rem #5096FF,
    9rem 3rem 0 -0.05rem #5096FF,
    10rem 3rem 0 -0.05rem #fff,
    11rem 3rem 0 -0.05rem #fff,
    12rem 3rem 0 -0.05rem #fff,
    13rem 3rem 0 -0.05rem #5096FF,
    14rem 3rem 0 -0.05rem #5096FF,
    15rem 3rem 0 -0.05rem #5096FF,
    16rem 3rem 0 -0.05rem #5096FF,
    17rem 3rem 0 -0.05rem #222,
    18rem 3rem 0 -0.05rem #fff,
    19rem 3rem 0 -0.05rem #222,
    20rem 3rem 0 -0.05rem #222,


    /*5th row*/
    0rem 4rem 0 -0.05rem #fff,
    1rem 4rem 0 -0.05rem #fff,
    2rem 4rem 0 -0.05rem #222,
    3rem 4rem 0 -0.05rem #fff,
    4rem 4rem 0 -0.05rem #222,
    5rem 4rem 0 -0.05rem #222,
    6rem 4rem 0 -0.05rem #5096FF,
    7rem 4rem 0 -0.05rem #5096FF,
    8rem 4rem 0 -0.05rem #5096FF,
    9rem 4rem 0 -0.05rem #fff,
    10rem 4rem 0 -0.05rem #5096FF,
    11rem 4rem 0 -0.05rem #5096FF,
    12rem 4rem 0 -0.05rem #5096FF,
    13rem 4rem 0 -0.05rem #fff,
    14rem 4rem 0 -0.05rem #5096FF,
    15rem 4rem 0 -0.05rem #5096FF,
    16rem 4rem 0 -0.05rem #5096FF,
    17rem 4rem 0 -0.05rem #222,
    18rem 4rem 0 -0.05rem #222,
    19rem 4rem 0 -0.05rem #fff,
    20rem 4rem 0 -0.05rem #222,



    /*6th row*/
    0rem 5rem 0 -0.05rem #fff,
    1rem 5rem 0 -0.05rem #fff,
    2rem 5rem 0 -0.05rem #222,
    3rem 5rem 0 -0.05rem #fff,
    4rem 5rem 0 -0.05rem #222,
    5rem 5rem 0 -0.05rem #5096FF,
    6rem 5rem 0 -0.05rem #5096FF,
    7rem 5rem 0 -0.05rem #5096FF,
    8rem 5rem 0 -0.05rem #5096FF,
    9rem 5rem 0 -0.05rem #fff,
    10rem 5rem 0 -0.05rem #fff,
    11rem 5rem 0 -0.05rem #fff,
    12rem 5rem 0 -0.05rem #fff,
    13rem 5rem 0 -0.05rem #fff,
    14rem 5rem 0 -0.05rem #5096FF,
    15rem 5rem 0 -0.05rem #5096FF,
    16rem 5rem 0 -0.05rem #5096FF,
    17rem 5rem 0 -0.05rem #5096FF,
    18rem 5rem 0 -0.05rem #222,
    19rem 5rem 0 -0.05rem #fff,
    20rem 5rem 0 -0.05rem #222,




    /*7th row*/
    0rem 6rem 0 -0.05rem #fff,
    1rem 6rem 0 -0.05rem #fff,
    2rem 6rem 0 -0.05rem #222,
    3rem 6rem 0 -0.05rem #fff,
    4rem 6rem 0 -0.05rem #222,
    5rem 6rem 0 -0.05rem #5096FF,
    6rem 6rem 0 -0.05rem #5096FF,
    7rem 6rem 0 -0.05rem #5096FF,
    8rem 6rem 0 -0.05rem #5096FF,
    9rem 6rem 0 -0.05rem #fff,
    10rem 6rem 0 -0.05rem #5096FF,
    11rem 6rem 0 -0.05rem #5096FF,
    12rem 6rem 0 -0.05rem #5096FF,
    13rem 6rem 0 -0.05rem #fff,
    14rem 6rem 0 -0.05rem #5096FF,
    15rem 6rem 0 -0.05rem #5096FF,
    16rem 6rem 0 -0.05rem #5096FF,
    17rem 6rem 0 -0.05rem #5096FF,
    18rem 6rem 0 -0.05rem #222,
    19rem 6rem 0 -0.05rem #fff,
    20rem 6rem 0 -0.05rem #222,


    /*8th row*/
    0rem 7rem 0 -0.05rem #fff,
    1rem 7rem 0 -0.05rem #fff,
    2rem 7rem 0 -0.05rem #fff,
    3rem 7rem 0 -0.05rem #222,
    4rem 7rem 0 -0.05rem #222,
    5rem 7rem 0 -0.05rem #5096FF,
    6rem 7rem 0 -0.05rem #5096FF,
    7rem 7rem 0 -0.05rem #5096FF,
    8rem 7rem 0 -0.05rem #5096FF,
    9rem 7rem 0 -0.05rem #5096FF,
    10rem 7rem 0 -0.05rem #5096FF,
    11rem 7rem 0 -0.05rem #5096FF,
    12rem 7rem 0 -0.05rem #5096FF,
    13rem 7rem 0 -0.05rem #5096FF,
    14rem 7rem 0 -0.05rem #5096FF,
    15rem 7rem 0 -0.05rem #5096FF,
    16rem 7rem 0 -0.05rem #5096FF,
    17rem 7rem 0 -0.05rem #5096FF,
    18rem 7rem 0 -0.05rem #222,
    19rem 7rem 0 -0.05rem #222,
    20rem 7rem 0 -0.05rem #fff,


    /*9th row*/
    0rem 8rem 0 -0.05rem #fff,
    1rem 8rem 0 -0.05rem #fff,
    2rem 8rem 0 -0.05rem #fff,
    3rem 8rem 0 -0.05rem #fff,
    4rem 8rem 0 -0.05rem #222,
    5rem 8rem 0 -0.05rem #5096FF,
    6rem 8rem 0 -0.05rem #5096FF,
    7rem 8rem 0 -0.05rem #5096FF,
    8rem 8rem 0 -0.05rem #5096FF,
    9rem 8rem 0 -0.05rem #5096FF,
    10rem 8rem 0 -0.05rem #5096FF,
    11rem 8rem 0 -0.05rem #5096FF,
    12rem 8rem 0 -0.05rem #5096FF,
    13rem 8rem 0 -0.05rem #5096FF,
    14rem 8rem 0 -0.05rem #5096FF,
    15rem 8rem 0 -0.05rem #5096FF,
    16rem 8rem 0 -0.05rem #5096FF,
    17rem 8rem 0 -0.05rem #5096FF,
    18rem 8rem 0 -0.05rem #222,
    19rem 8rem 0 -0.05rem #fff,
    20rem 8rem 0 -0.05rem #fff,


    /*10th row*/
    0rem 9rem 0 -0.05rem #fff,
    1rem 9rem 0 -0.05rem #fff,
    2rem 9rem 0 -0.05rem #fff,
    3rem 9rem 0 -0.05rem #fff,
    4rem 9rem 0 -0.05rem #222,
    5rem 9rem 0 -0.05rem #5096FF,
    6rem 9rem 0 -0.05rem #5096FF,
    7rem 9rem 0 -0.05rem #5096FF,
    8rem 9rem 0 -0.05rem #5096FF,
    9rem 9rem 0 -0.05rem #5096FF,
    10rem 9rem 0 -0.05rem #5096FF,
    11rem 9rem 0 -0.05rem #5096FF,
    12rem 9rem 0 -0.05rem #5096FF,
    13rem 9rem 0 -0.05rem #5096FF,
    14rem 9rem 0 -0.05rem #5096FF,
    15rem 9rem 0 -0.05rem #5096FF,
    16rem 9rem 0 -0.05rem #5096FF,
    17rem 9rem 0 -0.05rem #5096FF,
    18rem 9rem 0 -0.05rem #222,
    19rem 9rem 0 -0.05rem #fff,
    20rem 9rem 0 -0.05rem #fff,

    /*11th row*/
    0rem 10rem 0 -0.05rem #fff,
    1rem 10rem 0 -0.05rem #fff,
    2rem 10rem 0 -0.05rem #fff,
    3rem 10rem 0 -0.05rem #fff,
    4rem 10rem 0 -0.05rem #fff,
    5rem 10rem 0 -0.05rem #222,
    6rem 10rem 0 -0.05rem #5096FF,
    7rem 10rem 0 -0.05rem #5096FF,
    8rem 10rem 0 -0.05rem #fff,
    9rem 10rem 0 -0.05rem #222,
    10rem 10rem 0 -0.05rem #5096FF,
    11rem 10rem 0 -0.05rem #5096FF,
    12rem 10rem 0 -0.05rem #5096FF,
    13rem 10rem 0 -0.05rem #fff,
    14rem 10rem 0 -0.05rem #222,
    15rem 10rem 0 -0.05rem #5096FF,
    16rem 10rem 0 -0.05rem #5096FF,
    17rem 10rem 0 -0.05rem #222,
    18rem 10rem 0 -0.05rem #fff,
    19rem 10rem 0 -0.05rem #fff,
    20rem 10rem 0 -0.05rem #fff,

    /*12th row*/
    0rem 11rem 0 -0.05rem #fff,
    1rem 11rem 0 -0.05rem #fff,
    2rem 11rem 0 -0.05rem #fff,
    3rem 11rem 0 -0.05rem #fff,
    4rem 11rem 0 -0.05rem #fff,
    5rem 11rem 0 -0.05rem #222,
    6rem 11rem 0 -0.05rem #5096FF,
    7rem 11rem 0 -0.05rem #5096FF,
    8rem 11rem 0 -0.05rem #222,
    9rem 11rem 0 -0.05rem #222,
    10rem 11rem 0 -0.05rem #5096FF,
    11rem 11rem 0 -0.05rem #5096FF,
    12rem 11rem 0 -0.05rem #5096FF,
    13rem 11rem 0 -0.05rem #222,
    14rem 11rem 0 -0.05rem #222,
    15rem 11rem 0 -0.05rem #5096FF,
    16rem 11rem 0 -0.05rem #5096FF,
    17rem 11rem 0 -0.05rem #222,
    18rem 11rem 0 -0.05rem #fff,
    19rem 11rem 0 -0.05rem #fff,
    20rem 11rem 0 -0.05rem #fff,


    /*13th row*/
    0rem 12rem 0 -0.05rem #fff,
    1rem 12rem 0 -0.05rem #fff,
    2rem 12rem 0 -0.05rem #fff,
    3rem 12rem 0 -0.05rem #222,
    4rem 12rem 0 -0.05rem #222,
    5rem 12rem 0 -0.05rem #222,
    6rem 12rem 0 -0.05rem #222,
    7rem 12rem 0 -0.05rem #ffdbac,
    8rem 12rem 0 -0.05rem #ffdbac,
    9rem 12rem 0 -0.05rem #ffdbac,
    10rem 12rem 0 -0.05rem #ffdbac,
    11rem 12rem 0 -0.05rem #ffdbac,
    12rem 12rem 0 -0.05rem #ffdbac,
    13rem 12rem 0 -0.05rem #ffdbac,
    14rem 12rem 0 -0.05rem #ffdbac,
    15rem 12rem 0 -0.05rem #ffdbac,
    16rem 12rem 0 -0.05rem #222,
    17rem 12rem 0 -0.05rem #222,
    18rem 12rem 0 -0.05rem #fff,
    19rem 12rem 0 -0.05rem #fff,
    20rem 12rem 0 -0.05rem #fff,

    /*14th row*/
    0rem 13rem 0 -0.05rem #fff,
    1rem 13rem 0 -0.05rem #fff,
    2rem 13rem 0 -0.05rem #222,
    3rem 13rem 0 -0.05rem #f00,
    4rem 13rem 0 -0.05rem #f00,
    5rem 13rem 0 -0.05rem #f00,
    6rem 13rem 0 -0.05rem #f00,
    7rem 13rem 0 -0.05rem #222,
    8rem 13rem 0 -0.05rem #ffdbac,
    9rem 13rem 0 -0.05rem #ffdbac,
    10rem 13rem 0 -0.05rem #ffdbac,
    11rem 13rem 0 -0.05rem #ffdbac,
    12rem 13rem 0 -0.05rem #ffdbac,
    13rem 13rem 0 -0.05rem #ffdbac,
    14rem 13rem 0 -0.05rem #ffdbac,
    15rem 13rem 0 -0.05rem #222,
    16rem 13rem 0 -0.05rem #fff,
    17rem 13rem 0 -0.05rem #fff,
    18rem 13rem 0 -0.05rem #fff,
    19rem 13rem 0 -0.05rem #fff,
    20rem 13rem 0 -0.05rem #fff,

    /*15th row*/
    0rem 14rem 0 -0.05rem #fff,
    1rem 14rem 0 -0.05rem #222,
    2rem 14rem 0 -0.05rem #f00,
    3rem 14rem 0 -0.05rem #f00,
    4rem 14rem 0 -0.05rem #fff,
    5rem 14rem 0 -0.05rem #fff,
    6rem 14rem 0 -0.05rem #f00,
    7rem 14rem 0 -0.05rem #f00,
    8rem 14rem 0 -0.05rem #222,
    9rem 14rem 0 -0.05rem #222,
    10rem 14rem 0 -0.05rem #222,
    11rem 14rem 0 -0.05rem #222,
    12rem 14rem 0 -0.05rem #222,
    13rem 14rem 0 -0.05rem #222,
    14rem 14rem 0 -0.05rem #222,
    15rem 14rem 0 -0.05rem #5096FF,
    16rem 14rem 0 -0.05rem #222,
    17rem 14rem 0 -0.05rem #fff,
    18rem 14rem 0 -0.05rem #fff,
    19rem 14rem 0 -0.05rem #fff,
    20rem 14rem 0 -0.05rem #fff,

    /*16th row*/
    0rem 15rem 0 -0.05rem #222,
    1rem 15rem 0 -0.05rem #f00,
    2rem 15rem 0 -0.05rem #f00,
    3rem 15rem 0 -0.05rem #fff,
    4rem 15rem 0 -0.05rem #5096FF,
    5rem 15rem 0 -0.05rem #5096FF,
    6rem 15rem 0 -0.05rem #fff,
    7rem 15rem 0 -0.05rem #f00,
    8rem 15rem 0 -0.05rem #f00,
    9rem 15rem 0 -0.05rem #222,
    10rem 15rem 0 -0.05rem #5096FF,
    11rem 15rem 0 -0.05rem #fff,
    12rem 15rem 0 -0.05rem #5096FF,
    13rem 15rem 0 -0.05rem #5096FF,
    14rem 15rem 0 -0.05rem #5096FF,
    15rem 15rem 0 -0.05rem #5096FF,
    16rem 15rem 0 -0.05rem #5096FF,
    17rem 15rem 0 -0.05rem #222,
    18rem 15rem 0 -0.05rem #fff,
    19rem 15rem 0 -0.05rem #fff,
    20rem 15rem 0 -0.05rem #fff,

    /*17th row*/
    0rem 16rem 0 -0.05rem #222,
    1rem 16rem 0 -0.05rem #f00,
    2rem 16rem 0 -0.05rem #fff,
    3rem 16rem 0 -0.05rem #5096FF,
    4rem 16rem 0 -0.05rem #fff,
    5rem 16rem 0 -0.05rem #fff,
    6rem 16rem 0 -0.05rem #5096FF,
    7rem 16rem 0 -0.05rem #fff,
    8rem 16rem 0 -0.05rem #f00,
    9rem 16rem 0 -0.05rem #222,
    10rem 16rem 0 -0.05rem #fff,
    11rem 16rem 0 -0.05rem #fff,
    12rem 16rem 0 -0.05rem #fff,
    13rem 16rem 0 -0.05rem #5096FF,
    14rem 16rem 0 -0.05rem #5096FF,
    15rem 16rem 0 -0.05rem #222,
    16rem 16rem 0 -0.05rem #5096FF,
    17rem 16rem 0 -0.05rem #5096FF,
    18rem 16rem 0 -0.05rem #222,
    19rem 16rem 0 -0.05rem #fff,
    20rem 16rem 0 -0.05rem #fff,

    /*18th row*/
    0rem 17rem 0 -0.05rem #222,
    1rem 17rem 0 -0.05rem #f00,
    2rem 17rem 0 -0.05rem #fff,
    3rem 17rem 0 -0.05rem #5096FF,
    4rem 17rem 0 -0.05rem #fff,
    5rem 17rem 0 -0.05rem #fff,
    6rem 17rem 0 -0.05rem #5096FF,
    7rem 17rem 0 -0.05rem #fff,
    8rem 17rem 0 -0.05rem #f00,
    9rem 17rem 0 -0.05rem #222,
    10rem 17rem 0 -0.05rem #5096FF,
    11rem 17rem 0 -0.05rem #fff,
    12rem 17rem 0 -0.05rem #5096FF,
    13rem 17rem 0 -0.05rem #5096FF,
    14rem 17rem 0 -0.05rem #5096FF,
    15rem 17rem 0 -0.05rem #222,
    16rem 17rem 0 -0.05rem #5096FF,
    17rem 17rem 0 -0.05rem #5096FF,
    18rem 17rem 0 -0.05rem #5096FF,
    19rem 17rem 0 -0.05rem #222,
    20rem 17rem 0 -0.05rem #fff,

    /*19th row*/
    0rem 18rem 0 -0.05rem #222,
    1rem 18rem 0 -0.05rem #f00,
    2rem 18rem 0 -0.05rem #f00,
    3rem 18rem 0 -0.05rem #fff,
    4rem 18rem 0 -0.05rem #5096FF,
    5rem 18rem 0 -0.05rem #5096FF,
    6rem 18rem 0 -0.05rem #fff,
    7rem 18rem 0 -0.05rem #f00,
    8rem 18rem 0 -0.05rem #f00,
    9rem 18rem 0 -0.05rem #222,
    10rem 18rem 0 -0.05rem #fff,
    11rem 18rem 0 -0.05rem #f00,
    12rem 18rem 0 -0.05rem #fff,
    13rem 18rem 0 -0.05rem #f00,
    14rem 18rem 0 -0.05rem #fff,
    15rem 18rem 0 -0.05rem #222,
    16rem 18rem 0 -0.05rem #222,
    17rem 18rem 0 -0.05rem #f00,
    18rem 18rem 0 -0.05rem #f00,
    19rem 18rem 0 -0.05rem #222,
    20rem 18rem 0 -0.05rem #fff,

    /*20th row*/
    0rem 19rem 0 -0.05rem #fff,
    1rem 19rem 0 -0.05rem #222,
    2rem 19rem 0 -0.05rem #f00,
    3rem 19rem 0 -0.05rem #f00,
    4rem 19rem 0 -0.05rem #fff,
    5rem 19rem 0 -0.05rem #fff,
    6rem 19rem 0 -0.05rem #f00,
    7rem 19rem 0 -0.05rem #f00,
    8rem 19rem 0 -0.05rem #222,
    9rem 19rem 0 -0.05rem #f00,
    10rem 19rem 0 -0.05rem #fff,
    11rem 19rem 0 -0.05rem #f00,
    12rem 19rem 0 -0.05rem #fff,
    13rem 19rem 0 -0.05rem #f00,
    14rem 19rem 0 -0.05rem #fff,
    15rem 19rem 0 -0.05rem #222,
    16rem 19rem 0 -0.05rem #fff,
    17rem 19rem 0 -0.05rem #222,
    18rem 19rem 0 -0.05rem #222,
    19rem 19rem 0 -0.05rem #fff,
    20rem 19rem 0 -0.05rem #fff,

    /*21 row*/
    0rem 20rem 0 -0.05rem #fff,
    1rem 20rem 0 -0.05rem #fff,
    2rem 20rem 0 -0.05rem #222,
    3rem 20rem 0 -0.05rem #f00,
    4rem 20rem 0 -0.05rem #f00,
    5rem 20rem 0 -0.05rem #f00,
    6rem 20rem 0 -0.05rem #f00,
    7rem 20rem 0 -0.05rem #222,
    8rem 20rem 0 -0.05rem #5096FF,
    9rem 20rem 0 -0.05rem #5096FF,
    10rem 20rem 0 -0.05rem #5096FF,
    11rem 20rem 0 -0.05rem #5096FF,
    12rem 20rem 0 -0.05rem #5096FF,
    13rem 20rem 0 -0.05rem #5096FF,
    14rem 20rem 0 -0.05rem #5096FF,
    15rem 20rem 0 -0.05rem #5096FF,
    16rem 20rem 0 -0.05rem #222,
    17rem 20rem 0 -0.05rem #fff,
    18rem 20rem 0 -0.05rem #fff,
    19rem 20rem 0 -0.05rem #fff,
    20rem 20rem 0 -0.05rem #fff,

    /*22 row*/

    0rem 21rem 0 -0.05rem #fff,
    1rem 21rem 0 -0.05rem #fff,
    2rem 21rem 0 -0.05rem #fff,
    3rem 21rem 0 -0.05rem #222,
    4rem 21rem 0 -0.05rem #222,
    5rem 21rem 0 -0.05rem #222,
    6rem 21rem 0 -0.05rem #222,
    7rem 21rem 0 -0.05rem #f00,
    8rem 21rem 0 -0.05rem #fff,
    9rem 21rem 0 -0.05rem #fff,
    10rem 21rem 0 -0.05rem #222,
    11rem 21rem 0 -0.05rem #222,
    12rem 21rem 0 -0.05rem #222,
    13rem 21rem 0 -0.05rem #fff,
    14rem 21rem 0 -0.05rem #fff,
    15rem 21rem 0 -0.05rem #f00,
    16rem 21rem 0 -0.05rem #222,
    17rem 21rem 0 -0.05rem #fff,
    18rem 21rem 0 -0.05rem #fff,
    19rem 21rem 0 -0.05rem #fff,
    20rem 21rem 0 -0.05rem #fff,

    /*23 row*/
    0rem 22rem 0 -0.05rem #fff,
    1rem 22rem 0 -0.05rem #fff,
    2rem 22rem 0 -0.05rem #fff,
    3rem 22rem 0 -0.05rem #fff,
    4rem 22rem 0 -0.05rem #fff,
    5rem 22rem 0 -0.05rem #fff,
    6rem 22rem 0 -0.05rem #222,
    7rem 22rem 0 -0.05rem #f00,
    8rem 22rem 0 -0.05rem #f00,
    9rem 22rem 0 -0.05rem #222,
    10rem 22rem 0 -0.05rem #fff,
    11rem 22rem 0 -0.05rem #fff,
    12rem 22rem 0 -0.05rem #fff,
    13rem 22rem 0 -0.05rem #222,
    14rem 22rem 0 -0.05rem #f00,
    15rem 22rem 0 -0.05rem #f00,
    16rem 22rem 0 -0.05rem #222,
    17rem 22rem 0 -0.05rem #fff,
    18rem 22rem 0 -0.05rem #fff,
    19rem 22rem 0 -0.05rem #fff,
    20rem 22rem 0 -0.05rem #fff,

    /*24 row*/
    0rem 23rem 0 -0.05rem #fff,
    1rem 23rem 0 -0.05rem #fff,
    2rem 23rem 0 -0.05rem #fff,
    3rem 23rem 0 -0.05rem #fff,
    4rem 23rem 0 -0.05rem #fff,
    5rem 23rem 0 -0.05rem #222,
    6rem 23rem 0 -0.05rem #f00,
    7rem 23rem 0 -0.05rem #f00,
    8rem 23rem 0 -0.05rem #f00,
    9rem 23rem 0 -0.05rem #222,
    10rem 23rem 0 -0.05rem #fff,
    11rem 23rem 0 -0.05rem #fff,
    12rem 23rem 0 -0.05rem #fff,
    13rem 23rem 0 -0.05rem #222,
    14rem 23rem 0 -0.05rem #f00,
    15rem 23rem 0 -0.05rem #f00,
    16rem 23rem 0 -0.05rem #f00,
    17rem 23rem 0 -0.05rem #222,
    18rem 23rem 0 -0.05rem #fff,
    19rem 23rem 0 -0.05rem #fff,
    20rem 23rem 0 -0.05rem #fff,

    /*25 row*/
    0rem 24rem 0 -0.05rem #fff,
    1rem 24rem 0 -0.05rem #fff,
    2rem 24rem 0 -0.05rem #fff,
    3rem 24rem 0 -0.05rem #fff,
    4rem 24rem 0 -0.05rem #fff,
    5rem 24rem 0 -0.05rem #222,
    6rem 24rem 0 -0.05rem #222,
    7rem 24rem 0 -0.05rem #222,
    8rem 24rem 0 -0.05rem #222,
    9rem 24rem 0 -0.05rem #222,
    10rem 24rem 0 -0.05rem #fff,
    11rem 24rem 0 -0.05rem #fff,
    12rem 24rem 0 -0.05rem #fff,
    13rem 24rem 0 -0.05rem #222,
    14rem 24rem 0 -0.05rem #222,
    15rem 24rem 0 -0.05rem #222,
    16rem 24rem 0 -0.05rem #222,
    17rem 24rem 0 -0.05rem #222,
    18rem 24rem 0 -0.05rem #fff,
    19rem 24rem 0 -0.05rem #fff,
    20rem 24rem 0 -0.05rem #fff;




}